
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 37px;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2CEDA;
    max-width: 1600px;
}
.header__img{
    margin-left: 160px;
}
.header__nav{
    display: flex;
    align-items: center;
}
.header__list{
    display: flex;
    align-items: center;
    width: 679px;
    justify-content: space-between;
    gap: 40px;
}
.header__item-link{
    margin-right: 40px;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0px;
    font-family: "Roboto";
font-weight: 700;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
color: #150101;
}
.header__item-link:hover{
    color: #D23166;
    transition: color 0.3s ease;
}
.header__nav-link{
margin-left: 40px;
padding: 13px 50px 14px 50px;
background-color: #D23166;
color: #FAFAFA;
border-radius: 5px;
margin-right: 170px;
font-family: "Hind Madurai";
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}