.intro__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #F2CEDA;
    max-width: 1600px;
}
.intro__img-box {
  display: inline-block;
  width: 597px;
  height: 597px;
  background-image: url("../img/cream.png"),url("../img/icecream.png"),url("../img/doira.png");
  background-repeat: no-repeat;
  background-position: center 130px,center center,center 240px;
  background-position-y:50px center, center center, center center;
  background-size: 852px 548px,597px 597px,365px 363px;
  margin-right: 150px;
}
.intro__text-box {
    width: 663px;
    height: 364px;
    margin-left: 254px;
}
.intro__info-mini{
    font-family: "Roboto";
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 10%;
color: #0F0101;
}
.intro__slogan {
   font-family: "fredoka";
font-weight: 400;
font-size: 57.33px;
line-height: 121%;
letter-spacing: 0%;
}
.intro__text {
    font-family: "Hind Madurai";
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;
color: #0F0101;
margin-top: 35px;
}
.intro__link{
padding: 13px 50px 14px 50px;
background-color: #D23166;
color: #FAFAFA;
border-radius: 5px;
font-family: "Hind Madurai";
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}
.intro__button{
    margin-top: 60px;
}
.intro__span{
    font-family: "fredoka";
font-weight: 400;
font-size: 57.33px;
line-height: 121%;
letter-spacing: 0%;
color: #D23166;
}
.intro__img{
    margin-right: 100px;
}