.sugar__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #F2CEDA;
    width: 1125px;
}
.sugar__text-box {
    width: 663px;
    height: 364px;
}
.sugar__info-mini{
    font-family: "Roboto";
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0.1em;
color: #0F0101;
}
.sugar__slogan {
   font-family: "fredoka";
font-weight: 400;
font-size: 57.33px;
line-height: 121%;
letter-spacing: 0%;
}
.sugar__text {
    font-family: "Hind Madurai";
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;
color: #0F0101;
margin-top: 35px;
}
.sugar__link{
padding: 13px 50px 14px 50px;
background-color: #D23166;
color: #FAFAFA;
border-radius: 5px;
font-family: "Hind Madurai";
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}
.sugar__button{
    margin-top: 60px;
}
.sugar__span{
    font-family: "fredoka";
font-weight: 400;
font-size: 57.33px;
line-height: 121%;
letter-spacing: 0%;
color: #D23166;
}
.sugar__img{
    margin-right: 100px;
}